
.toc li {
  list-style-type: none;
  margin-left: 5px;
}

p {
  margin-right: 20px;
  max-width: 900px;
}

#demo {
  display: inline-block;
  height: 50%;
  position: relative;
}

.datum.lazy-image {
  height: 95px;
  width: 95px;
  position: relative;
  display: block;  
}