
.collection-stats {
  overflow: hidden;
  padding-left: 2px;
}

.collection-stats .loading-indicator {
  position: absolute;
  height: 2px;
  width: 31px;
  top: 16px;
  left: 5px;
}

.collection-stats .viewing.stats {
  float: right;
}

