


.react-datum-datagrid .rdd-headers {
  background-color: #eceff6;
  vertical-align: top;
}

.react-datum-datagrid .rdd-cell-selected {
  background-color: #91A4CC;
  color: whitesmoke;
}

.react-datum-datagrid .rdd-cell .datum-display-value {
  /* when using a rdd in multi cell selection mode, user-select should probably be disabled */
  -webkit-touch-callout:  none; /* iOS Safari */
  -webkit-user-select:    none; /* Safari */
  -khtml-user-select:     none; /* Konqueror HTML */
  -moz-user-select:       none; /* Firefox */
  -ms-user-select:        none; /* Internet Explorer/Edge */
  user-select:            none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */  
}

.react-datum-datagrid .rdd-cell img {
  max-height: 100px;
  max-width: 100px;
}

.react-datum-datagrid .rdd-icon {
  color: #1254E8;
  cursor: pointer;
  float: right;
  margin-left: 5px;
  
}

.react-datum-datagrid .rdd-icon .rdd-icon-edit {
  background-color: #E0E0E0;
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 10px;
  display: inline-block;
  padding: 2px 2px 2px 4px;  
}

.react-datum-datagrid .rdd-icon .rdd-icon-refresh {
  color: #cccccc;
  cursor: none;
}

.react-datum-datagrid .rdd-cell-warning {
  
}
